
C++ Codes/aru.o
C++ Codes/.vscode/tasks.json
C++ Codes/area.exe
C++ Codes/area.o
C++ Codes/aru.exe
C++ Codes/binary.exe
C++ Codes/binary.o
C++ Codes/c++.o
C++ Codes/class 1 .exe
C++ Codes/comma operator.exe
C++ Codes/comma operator.o
C++ Codes/j.cpp
C++ Codes/j.exe
C++ Codes/j.o
C++ Codes/my new self.cpp
C++ Codes/n.exe
C++ Codes/n.o
C++ Codes/neeeeew.exe
C++ Codes/neeeeew.o
C++ Codes/New Number project.c
C++ Codes/new class.exe
C++ Codes/NUMBers.exe
C++ Codes/NUMBers.o
C++ Codes/Sizeof().exe
C++ Codes/Sizeof().o
C++ Codes/tori.exe
C++ Codes/tori.o
C++ Codes/trying.cpp
C++ Codes/tryit.cpp
C++ Codes/tryit.exe
C++ Codes/tryit.o
C++ Codes/Untit.exe
C++ Codes/Untit.o
C++ Codes/Untitled1.cpp
C++ Codes/Untitled1.exe
C++ Codes/Untitled1.o
C++ Codes/Untitled3.exe
C++ Codes/Untitled3.o
C++ Codes/x.exe
